<div class="contPrincipal">
  <div class="tarjeta">
    <div class="contTitulos">
      <h1>Cotiza tu Seguro Automotriz</h1>
      <h2>¡Resultados Instantáneos!</h2>
    </div>
    <div class="contFormulario">
      <form>
        <ul>
          <li>
            <label for="marca_del_auto">Marca del auto</label>
            <select id="marca_del_auto" name="marca_del_auto">
              <option>Opel</option>
              <option>Corsa</option>
              <option>Hola</option>
            </select>
          </li>
          <li class="modelo_del_auto">
            <label for="modelo_del_auto">Modelo del auto</label>
            <select id="modelo_del_auto" name="modelo_del_auto">
              <option value="1">Modelo 1</option>
              <option>Modelo 2</option>
              <option>Modelo 3</option>
            </select>
          </li>
          <li>
            <label for="ano_auto">Año auto</label>
            <select id="ano_auto" name="ano_auto">
              <option>1999</option>
              <option>2005</option>
              <option>2014</option>
            </select>
          </li>
          <li>
            <label for="email">Email</label>
            <input type="text" id="email" name="email" />
          </li>
        </ul>
        <input type="submit" name="submit" id="cotizar" Value="Cotizar">
        <p>
          <a href="#" >Recuperar cotización</a>
        </p>
      </form>
    </div>
  </div>
</div>
